.coin-container {
  border: 1px solid white;
  width: 600px;
  margin: 10px auto;
  border-radius: 20px;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.212);
}
.image-container {
  background-color: var(--secondary-color);
  padding: 50px 1px;
  max-width: 470px;
  border-radius: 30px;
  margin: 20px auto;
  margin-bottom: 10px;
}
.image-result {
  max-width: 400px;
  border-radius: 10px;
  margin: 0 auto;
  border: 20px solid white;
  position: relative;
  z-index: 2;
}

.text-container {
  margin: 20px;
  padding: 3px;
  border: 20px solid var(--secondary-color);
  max-width: 400px;
  margin: 10px auto;
  position: relative;
  bottom: 65px;
  border-radius: 10px;
}

.name-result {
  background-color: aliceblue; 
  color: black;
  font-size: 4rem;
  border: 1px solid rgb(0, 0, 0);
  /* border-radius: 20px; */
}

.button {
  margin: 30px;
  padding: 20px;
  border-radius: 20px;
  color: white;
  background-color: rgb(155, 155, 155);
  font-size: 4rem;
  font-weight: bold;
  box-shadow: 0 0 12px 1px white;
  position: relative;
  bottom: 80px;
  border: 1px solid white;
}

.button:active {
  border: 1px solid white;
}

