.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
  background-color: aliceblue;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: black;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}







.coin-container {
  border: 1px solid white;
  max-width: 600px;
  margin: 10px auto;
  border-radius: 20px;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.212);
}
.image-container {
  background-color: var(--secondary-color);
  padding: 50px 1px;
  max-width: 470px;
  border-radius: 30px;
  margin: 20px auto;
  margin-bottom: 10px;
}
.image-result {
  max-width: 400px;
  border-radius: 10px;
  margin: 0 auto;
  border: 20px solid aliceblue;
  position: relative;
  z-index: 2;
}

.text-container {
  margin: 20px;
  padding: 3px;
  border: 20px solid var(--secondary-color);
  max-width: 400px;
  margin: 10px auto;
  position: relative;
  bottom: 65px;
  border-radius: 10px;
}

.name-result {
  background-color: aliceblue; 
  color: black;
  font-size: 4rem;
  border: 0.3px solid rgb(0, 0, 0);
  /* border-radius: 20px; */
}

.button {
  margin: 30px;
  padding: 20px;
  border-radius: 20px;
  color: white;
  background-color: rgb(155, 155, 155);
  font-size: 4rem;
  font-weight: bold;
  box-shadow: 0 0 12px 1px white;
  position: relative;
  bottom: 80px;
  border: 1px solid white;
  outline:none;
  transition: 0.2s;
}

.button:active {
  border: 1px solid white;
  transform: scale(0.9);
  background-color: grey;
  box-shadow: none;
}



